<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personel.Properties.Settings.TBL_CANAVARConnectionString"
            connectionString="Data Source=FIRAT-PC\SQLEXPRESS;Initial Catalog=TBL_CANAVAR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>